<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/lucide/dist/lucide.js"></script>
</head>
<body class="bg-[#2a2e33] text-white">

  <!-- Include the header -->
  <%- include('homePage/header') %>

  <!-- Page-specific content -->


  <script>lucide.replace()</script>
</body>
</html>
